@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2a') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.body {
  font-family: 'Montserrat', sans-serif;
}

/*glob*/

.container {
  margin: 0 auto;
  max-width: 1770px;
  width: 100%;
}

.section-title {
  margin: 0;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: #333;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

/*header*/

.header {
  padding: 12px 0;
  min-height: 100px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
  margin-bottom: 0;
}

.header__menu {
  display: none;
}

.header__logo {
  margin-right: auto;
}

.header__logo-img {
  width: 224px;
  height: 100%;
}

.header__list {
  margin-right: 85px;
}

.header__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition-property: color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.header__link:hover {
  box-shadow: 0 2px 0 #FF9900;
}

.header__link:focus {
  outline: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
  box-shadow: 0 2px 0 #E1670E;
  outline: none;
}

.header__btn {
  padding: 0;
  height: 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.header__btn:focus {
  outline: 2px solid #FF9900;
}

.header__btn:active {
  outline: none;
}

.header__search rect, .header__search path {
  transition-property: fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.header__btn:hover .header__search rect {
  fill: #FF9900;
}

.header__btn:focus .header__search rect {
  fill: #333;
}

.header__btn:active .header__search rect {
  fill: #FF9900;
}

.header__btn:hover .header__search path {
  stroke: #FF9900;
}

.header__btn:focus .btn__search path {
  stroke: #333;
}

.header__btn:active .btn__search path {
  stroke: #FF9900;
}

/*hero*/

.hero__container {
  min-height: 620px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 100px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  z-index: 2;
  max-width: 870px;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
}

.hero__btn {
  border: none;
  padding: 25px 36px 24px 36px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #FFFFFF;
  transition: background 0.3s ease;
  background: #FF9900;
  cursor: pointer;
}

.hero__btn:hover {
  background: #FF9900B2;
}

.hero__btn:focus {
  background: #FF9900B2;
}

.hero__btn:active {
  background: #E1670E;
}

/*about*/

.about-us__container {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 20px;
  padding-left: 2px;
  font-size: 48px;
  line-height: 59px;
}

.about-us__descr {
  margin: 0px;
  margin-bottom: 49px;
  padding-right: 535px;
  min-height: 192px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

.about-us__bottom {
  width: 868px;
  height: 196px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 50px 50px 50px 50px;
}

.about-us__blog-item {
  align-items: flex-end;
  margin-right: 32px;
  width: 868px;
  height: 622px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/project.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__blog-descr {
  display: inline-block;
  margin: 0px;
  margin-right: 138px;
  max-width: 454px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
}

.about-us__blog-btn {
  width: 175px;
  height: 60px;
  border: 3px solid #FF9900;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  background: rgba(48, 47, 47, 0);
}

.about-us__blog-btn:hover {
  background: #FF9900;
}

.about-us__blog-btn:focus {
  background: #FF9900;
}

.about-us__blog-btn:active {
  background: #E1670E;
}

.about-us__list {
  max-width: 870px;
}

.about-us__item {
  padding: 63px 116px 61px 298px;
  border: 1px solid #CACACA;
  min-height: 295px;
  background-repeat: no-repeat;
  background-size: 190px 165px;
  background-position: top 63px left 59px;
}

.about-us__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-us__item:nth-child(1) {
  background-image: url("../img/project_2.svg");
}

.about-us__item:nth-child(2) {
  background-image: url("../img/project_1.svg");
}

.blog-text-title {
  display: inline-block;
  margin: 0 0 10px 0;
  max-width: 452px;
  font-size: 24px;
  line-height: 29.5px;
  font-weight: 700;
}

.blog-text-descr {
  margin: 0px;
  font-size: 16px;
  line-height: 32px;
}

/*work*/

.work__container {
  margin-bottom: 101px;
}

.work__title {
  margin-bottom: 51px;
}

.work__list {
  margin-bottom: 45px;
}

.work__item-btn {
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.8s linear;
}

.work__item-btn:hover {
  color: #FF9900;
}

.work__item-btn:focus {
  color: #000;
  outline: 2px solid #FF9900;
}

.work__item-btn:active {
  color: #E1670E;
  outline: none;
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.work__blog {
  height: 469px;
  background-image: url(../img/work-bg.jpg);
  background-position: right;
  background-size: 870px 460px;
  background-repeat: no-repeat;
}

.work__title-descr {
  margin: 0px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.work__descr {
  margin: 0px;
  margin-bottom: 49px;
  width: 758px;
  font-size: 16px;
  line-height: 32px;
}

.work__btn {
  margin-right: 28px;
  padding: 19px 39px 21px 38px;
  border: none;
  width: 175px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  transition: background 0.3s ease;
  background: #FF9900;
  cursor: pointer;
}

.work__btn:hover {
  background: #F7B045;
}

.work__btn:focus {
  background: #F7B045;
}

.work__btn:active {
  background: #E1670E;
}

.work__btn-docs {
  padding: 19px 38px;
  width: 147px;
  height: 60px;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333;
  transition: background 0.3s ease, color 0.5s linear;
  background: #FFFFFF;
  cursor: pointer;
}

.work__btn-docs:hover {
  color: #FFFFFF;
  background: #666666;
}

.work__btn-docs:focus {
  color: #FFFFFF;
  background: #666666;
}

.work__btn-docs:active {
  color: #FFFFFF;
  background: #000000;
}

/*ask*/

.ask__container {
  margin-bottom: 101px;
}

.ask__title {
  margin-bottom: 44px;
}

.ask__item {
  position: relative;
  padding: 39px 0;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  align-items: center;
  transition: border-color .3s ease-out;
  cursor: pointer;
}

.ask__item:not(:first-child) {
  margin-top: -1px;
}

.ask__item:hover {
  z-index: 1;
  border-color: #FF9900;
}

.ask__item:focus {
  border-color: #FF9900;
  outline: none;
}

.ask__head {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333333;
  transition: color .3s ease-out;
}

.ask__head:hover {
  color: #FF9900;
}

.ask__head:focus {
  color: #FF9900;
}

.ask__head:active {
  color: #333333;
}

.ask__item:hover .ask__head {
  color: #FF9900;
}

.ask__item:focus .ask__head {
  color: #FF9900;
}

.ask__more {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.ask__more ellipse, .ask__more path {
  transition: fill .3s ease-out;
}

.ask__item:hover .ask__more path {
  fill: #fff;
}

.ask__item:hover .ask__more ellipse {
  color: #FF9900;
  fill: #FF9900;
}

.ask__item:focus .ask__more ellipse {
  fill: #fff;
}

.ask__item:focus .ask__more ellipse {
  fill: #FF9900;
}

.ask__item:active .ask__more {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

/*footer*/

.footer {
  background: #222222;
}

.footer__container {
  padding: 51px 0 45px;
  margin-bottom: 0;
}

.footer__left {
  display: inline-flex;
  min-width: 252px;
  height: 494px;
  flex-direction: column;
  margin-right: 350px;
}

.footer__logo {
  width: 224px;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__href {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.footer__href:hover {
  color: #FF9900;
}

.footer__href:focus {
  outline: 2px solid #FF9900;
  box-sizing: border-box;
}

.footer__href:active {
  color: #E1670E;
  outline: none;
}

.footer__item-social:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}

.footer__social-link path {
  transition: fill .3s ease-out;
}

.footer__social-link:hover path {
  fill: #FF9900;
}

.footer__social-link:focus {
  outline: 2px solid #FF9900;
}

.footer__social-link:active {
  outline: none;
}

.footer__social-link:active path {
  fill: #E1670E;
  outline: none;
}

.footer__social-icon {
  width: 60px;
  height: 60px;
}

.footer__center {
  margin-right: 236px;
  min-width: 570px;
}

.footer__title {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__form-input {
  margin-bottom: 25px;
  padding-left: 24px;
  border: none;
  width: 570px;
  height: 60px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  background: #414141;
  cursor: pointer;
}

.footer__input-mail {
  margin-bottom: 26px;
}

.footer__form-textarea:hover {
  background: #666666;
}

.footer__form-textarea:focus {
  background: #666666;
}

.footer__form-textarea:active {
  color: #FFFFFF;
  background: #666666;
}

.footer__form-textarea {
  margin-bottom: 28px;
  padding-top: 14px;
  padding-left: 24px;
  border: none;
  width: 570px;
  min-height: 150px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  background: #414141;
}

.footer__form-input:hover {
  background: #666666;
}

.footer__form-input:focus {
  background: #666666;
}

.footer__form-input:active {
  color: #FFFFFF;
  background: #666666;
}

.footer__btn {
  padding: 19px 50px 18px 52px;
  margin-right: 20px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #FF9900;
  transition: background 0.3s ease;
}

.footer__btn:hover {
  background: #F7B045;
}

.footer__btn:focus {
  background: #F7B045;
}

.footer__btn:active {
  background: #E1670E;
}


.footer__check {
  position: relative;
  display: inline-block;
  padding-left: 18px;
  width: 279px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.footer__checkbox {
  display: none;
}

.footer__checkbox+span {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 9px;
  width: 14px;
  height: 14px;
  padding: 1px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  text-align: center;
}

.footer__checkbox+span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-image: url('../img/check.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__checkbox:checked+span::before {
  opacity: 1;
}

.footer__right {
  padding-top: 87px;
}

.footer__descr {
  margin: 0px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

@media (min-width:1025px) and (max-width: 1550px) {
  .container {
    margin: 0 auto;
  }

  .about-us__blog-item {
    margin-bottom: 32px;
  }

  .about-us__project {
    flex-direction: column;
  }

  .footer__right {
    display: none;
  }
}

@media (min-width:1025px) and (max-width: 1180px) {
  .container {
    margin: 0 auto;
  }

  .footer__container {
    padding: 51px 0 45px;
  }

  .footer__left {
    margin-right: 133px;
  }
}

/* for 1024px */

@media (max-width: 1024px) {
  .container {
    margin-bottom: 81px;
    max-width: 924px;
  }

  .header {
    padding: 25px 50px 23px;
  }

  .header__container {
    margin: 0;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-right: auto;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
    margin-right: auto;
    padding: 0;
    width: 30px;
    height: 23px;
    border: none;
    background-image: url("../img/menu-button.svg");
  }

  .hero__container {
    padding-top: 160px;
    padding-left: 77px;
    padding-right: 77px;
    padding-bottom: 160px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us__title {
    padding: 0;
    margin-bottom: 9px;
  }

  .about-us__descr {
    padding: 0;
    margin-bottom: 55px;
    min-height: 263px;
    line-height: 32px;
  }

  .about-us__project {
    flex-direction: column;
  }

  .about-us__blog-item {
    margin: 0px;
    margin-bottom: 32px;
    width: 924px;
    background-size: cover;
  }

  .about-us__bottom {
    min-width: 924px;
  }

  .about-us__blog-descr {
    font-size: 16px;
    line-height: 32px;
    margin-right: 195px;
  }

  .about-us__item {
    padding-right: 156px;
  }

  .about-us__list {
    max-width: none;
  }

  .blog-text-title {
    margin-bottom: 8px;
  }

  .blog-text-descr {
    font-size: 16px;
  }

  .work__container {
    margin-bottom: 50px;
  }

  .work__list {
    margin-bottom: 50px;
  }

  .work__descr {
    width: 437px;
    margin-bottom: 25px;
  }

  .work__blog {
    height: 689px;
    background-position: left 487px top 10px;
    background-image: url("../img/work-bg-1024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ask__title {
    margin-bottom: 32px;
  }

  .footer__container {
    width: 954px;
    padding-bottom: 50px;
  }

  .footer__left {
    margin-right: 133px;
    min-width: 251px;
  }

  .footer__center {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .footer__right {
    display: none;
  }
}

@media (min-width:769px) and (max-width:1000px) {
  .footer__container {
    padding: 51px 0 46px;
    margin-bottom: 0;
    padding-right: 127px;
    flex-direction: column-reverse;
  }
}


/* fore 768px */

@media (max-width: 768px) {
  .container {
    max-width: 668px;
  }

  .header {
    padding: 10px 50px;
    min-height: 69px;
  }

  .header__menu {
    margin-right: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .logo__img {
    height: 48px;
    width: 150px;
  }

  .hero__container {
    padding: 160px 40px 160px 40px;
    min-height: 662px;
    background-image: url("../img/header-bg-769.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__blog-item {
    width: 668px;
    background-image: url("../img/work-bg-768.jpg");
  }

  .about-us__bottom {
    min-width: 668px;
    padding: 34px 40px;
  }

  .about-us__blog-descr {
    margin-right: 47px;
    width: 366px;
    height: 128px;
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__item {
    padding: 34px 46px 34px 170px;
    min-height: 235px;
    background-position: top 68px left 40px;
    background-size: 114px 99px;
  }

  .blog-text-title {
    min-width: 452px;
    font-size: 24px;
    line-height: 29px;
  }

  .work__container {
    min-height: 979px;
    margin-bottom: 80px;
  }

  .work__blog {
    background-image: url("../img/about-us-bg-768.jpg");
    background-position: top center;
    background-size: contain;
  }

  .work__title-descr {
    margin: 0 0 9px 0;
    padding: 323px 0 0;
  }

  .work__descr {
    width: 667px;
    margin-right: 0;
  }

  .ask__head {
    width: 570px;
    font-size: 20px;
    line-height: 32px;
  }

  .footer__container {
    padding: 51px 0 46px;
    margin-bottom: 0;
    padding-right: 127px;
    flex-direction: column-reverse;
  }

  .footer__right {
    display: none;
  }


  .footer__left {
    height: 150px;
  }

  .footer__list {
    display: none;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__form-input {
    width: 541px;
  }

  .footer__form-textarea {
    width: 541px;
  }

  .footer__button {
    padding: 20px 37.5px 18px 37.5px;
  }
}

/* for 320px */

@media (max-width: 320px) {
  .container {
    margin-bottom: 60px;
    max-width: 290px;
  }

  .header {
    padding: 17px 15px;
  }

  .header__container {
    margin: 0px;
  }

  .header__menu {
    margin-right: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .hero__container {
    padding: 60px 20px;
    min-height: 308px;
    background-image: url("../img/hero-bg-320.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    display: flex;
    width: 162px;
    height: 40px;
    margin-left: 44px;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__container {
    margin-bottom: 56px;
  }

  .about-us__descr {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__blog-item {
    padding: 208px 0 0;
    margin-bottom: 23px;
    width: 100%;
    height: 408px;
    background-image: url("../img/about-us-bg-320.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about-us__bottom {
    min-width: 290px;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    padding: 0;
    background: transparent;
  }

  .about-us__blog-descr {
    width: 290px;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #333;
  }

  .about-us__blog-btn {
    width: 160px;
    height: 40px;
    padding: 11px 14px 14px 15px;
    border: 2px solid #FF9900;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #FF9900;
  }

  .about-us__item {
    padding: 61px 0 0;
    border: none;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: 64px 49px;
    background-position: top left;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 28px;
  }

  .about-us__item:nth-child(1) {
    background-image: url("../img/about-us-bg1-320.svg");
  }

  .about-us__item:nth-child(2) {
    background-image: url("../img/about-us-bg2-320.svg");
  }

  .blog-text-title {
    display: inline;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #333;
  }

  .blog-text-descr {
    padding: 4px 0;
    font-size: 14px;
    line-height: 28px;
    color: #333;
  }

  .work__container {
    min-height: 1055px;
    margin-bottom: 60px;
  }

  .work__title {
    margin-bottom: 16px;
  }

  .work__list {
    margin-bottom: 16px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__item-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .work__blog {
    background-image: url("../img/work__blog-320.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .work__title-descr {
    padding-top: 176px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  .work__descr {
    margin-bottom: 16px;
    width: 290px;
    font-size: 14px;
    line-height: 28px;
  }

  .work__btn {
    margin-right: 5px;
    padding: 11px 14px 14px 15px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .work__btn-docs {
    padding: 11px 29px 14px 30px;
    width: 118px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .ask__title {
    margin-bottom: 16px;
  }

  .ask__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ask__head {
    width: 243px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .footer__container {
    width: 320px;
    height: 673px;
  }

  .footer__right {
    display: none;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }

  .footer__center {
    margin-bottom: 16px;
  }

  .footer__form-input {
    width: 290px;
    height: 60px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__form-textarea {
    width: 290px;
    height: 150px;
    margin-bottom: 25px;
  }

  .footer__btn {
    display: block;

    padding: 12px 31px 13px 24px;
    margin: 0 0 11px 56px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__check {
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer__logo {
    margin-left: 80px;
    margin-bottom: 12px;
    width: 131px;
    height: 42px;
  }

  .footer__list-social {
    margin-left: 69px;
    max-width: 153px;
  }

  .footer__item-social:not(:last-child) {
    margin-right: 16px;
  }

  .footer__social-icon {
    width: 40px;
    height: 40px;
  }
}
